<p *ngIf="!forecasts"><em>Loading orders...</em></p>

<table class='table' *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.dateFormatted }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Summ 1</td>
      <td>Summ 2</td>
      <td>Summ 3</td>
      <td>Summ 4</td>
    </tr>
  </tfoot>
</table>
