<p *ngIf="!orders"><em>Загрузка заказов...</em></p>

<table class='table table-borderless table-hover' *ngIf="orders">
  <tbody>
    <tr *ngFor="let order of orders" [ngClass]="[(selectedOrder != null && order === selectedOrder ? 'order-data-row-selected' : '')]" (click)="selectOrder(order)">
      <td><app-order-status [status]="order.status"></app-order-status></td>
      <td>Order #{{ order.id }}</td>
      <td>{{ order.creationTime }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">
        <app-order-status [status]="1" [needTitle]="true"></app-order-status><br />
        <app-order-status [status]="2" [needTitle]="true"></app-order-status>
      </td>
    </tr>
  </tfoot>
</table>
